<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="./stylesheets/newreg.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="http://rockethatchers.us/rh64.png" type="image/x-icon">
    <link rel="shortcut icon" href="http://rockethatchers.us/rh64.png" type="image/x-icon">
    <title>Rocket Hatchers - Reset</title> 
    <script src="./javascripts/jquery-1.7.2.js"></script>
    <script src="./javascripts/jquery.sha256.js"></script> 
	<script src="./javascripts/newregLoad.js"></script>
    <script src="./javascripts/mhcAjax.js"></script>	
   </head>
  <body id="bodycontainer">    
    <div id="container">
	  <div id="confirmarea">
	    <div id="rimg">
	      <img class="pimg" src="./images/RHLogo.png"/>
		</div>
		<div id="nlbl_a" class="label">WELCOME</div>
		<div id="nlbl_b" class="label">%%name%%</div>
		<div id="narea" class="puBlk">
		  <div id="nhead" class="messhead">to the Creative Community of the Huntsville Metro Area.</div>
		  <div id="nconfirm" data="%%_id%%" class="cb clickable">
		    <div id="conf">
			  Click to confirm membership
			</div>
			<img class="nimg" width="100" height="100" src="http://res.cloudinary.com/hupkdp5vh/image/upload/%%public_id%%"/>
		  </div>
		  <div id="nBx" class="messbox clickable">
			
		  </div>  
		  <div id="nfoot" class="messfoot">
			<p id="ncan" class="mDone clickable"> cancel </p>
		  </div>
		</div>
      </div>		
    </div>		
    <div id="glass"></div> 
  </body>
</html>