<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="./stylesheets/rpw.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="http://localhost:11329/MHCreatives/rh64.png" type="image/x-icon">
    <link rel="shortcut icon" href="http://localhost:11329/MHCreatives/rh64.png" type="image/x-icon">
    <title>Rocket Hatchers - Reset</title> 
    <script src="./javascripts/jquery-1.7.2.js"></script>
    <script src="./javascripts/jquery.sha256.js"></script> 
	<script src="./javascripts/rpwLoad.js"></script>
    <script src="./javascripts/mhcAjax.js"></script>	
   </head>
  <body id="bodycontainer">    
    <div id="container">
	  <div id="resetarea">
	    <div id="rimg">
	      <img class="pimg" src="./images/RHLogo.png"/>
		</div>
		<div id="rpwlbl_a" class="label">reset pass code for account owner:</div>
		<div id="rpwlbl_b" class="label">%%name%%</div>
		<div id="rpwarea" class="puBlk">
		  <div id="rpwhead" class="messhead">reset pass code</div>
		  
		  <div id="rpwBx" class="messbox">
			<div id="rpwinptarea">
			  <div id="rpwreg" class="message">
				<input id="rpwregpw" type="password" class="res" placeholder="password">
				<input id="rpwcregpw" type="password" class="res" placeholder="confirm">
			  </div>
			</div>
		  </div>  
		  <div id="rpwfoot" class="messfoot">
			<p id="rpwcan" class="mDone clickable"> cancel </p>
			<p id="rpwsep" class="mDone"> | </p>
			<p id="rpwsend" data="%%_id%%" class="mDone unenabled"> submit </p>
		  </div>
		</div>
      </div>		
    </div>		
    <div id="glass"></div> 
  </body>
</html>